<div class="cards-container">
  <div class="card" *ngFor="let country of data" role="region">
    <h2 id="country-{{ country.iso_3166 }}">{{ country.country_name }} ({{ country.iso_3166 }})</h2>
    <p><strong>Total Holidays:</strong> {{ country.total_holidays }}</p>
    <p><strong>Supported Languages:</strong> {{ country.supported_languages }}</p>
    <p><strong>UUID:</strong> {{ country.uuid }}</p>
    <p><strong>Flag:</strong> <span role="img">{{ country.flag_unicode }}</span></p>
  </div>
</div>
